{%extends 'base.html'%}
{%load static%}
{%block body_block%}

<div class="container  ">
    <div class="row p-5">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Login Here</h1>
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Login</button>
                <h6>New User? <a href="{%url 'registration'%}">Signup Here</a></h6>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}


